In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head(52)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df = df.dropna()

In [ ]:
df.tail

In [ ]:
df.head(52)

In [ ]:
clear

In [ ]:
df['Undergraduate Major'][df['Starting Median Salary'].idxmax()]

In [ ]:
print(df['Mid-Career Median Salary'].max(), df['Mid-Career Median Salary'].idxmax(), df['Undergraduate Major'][df['Mid-Career Median Salary'].idxmax()])

In [ ]:
print(df['Starting Median Salary'].min(), df['Starting Median Salary'].idxmin(), df['Undergraduate Major'][df['Starting Median Salary'].idxmin()])

In [ ]:
print(df['Mid-Career Median Salary'].min(), df['Mid-Career Median Salary'].idxmin() ,df['Undergraduate Major'][df['Mid-Career Median Salary'].idxmin()])

In [ ]:
print(df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {df['Mid-Career Median Salary'].idxmax()}")
df['Undergraduate Major'][8]

In [ ]:
spread_col = df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']
df.insert(1, 'Spread', spread_col)
df.head()

In [ ]:
low_risk = df.sort_values('Spread')
low_risk.head()

In [ ]:
low_risk = df.sort_values('Spread', ascending=False)
low_risk.head()

In [ ]:
low_risk = df['Mid-Career 90th Percentile Salary'].max()
low_risk.head()

In [33]:
df.groupby('Group').count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,12,12,12,12,12
HASS,22,22,22,22,22
STEM,16,16,16,16,16